<br>
<%= link_to "Simple Airbnb", flats_path %>
<%= link_to "Add flat", new_flat_path%>

<h1>Edit flat</h1>

<%= simple_form_for(@flat) do |t| %>
  <%= t.input :name %>
  <%= t.input :address %>
  <%= t.input :description %>
  <%= t.input :price_per_night %>
  <%= t.input :number_of_guests %>
  <%= t.submit "Update flat" %>
  <%= t.submit "Cancel" %>
<% end %>
